.radar {
    display: inline-flex;
}

.radarChart {
    /* font-family: 'Open Sans', sans-serif; */
    font-size: 18px;
    /* font-weight: 300; */
    /* fill: #242424; */
    text-align: center;
    /* text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff; */
    cursor: default;
    /* border: solid 1px #554141; */
    width: 600px !important;
    height: 600px !important;
    background-image: url("../images/radar4.png");


    display: inline-flex;
}

.legend {
    font-family: 'Raleway', sans-serif;
    fill: #fff;/*333333*/
    font-size: 16px;
    text-anchor: middle;
}

.tooltip {
    fill: #fff;
}

.radarBtns {
 
    font-size: 14px;
    border: solid 1px #554141; 
    /*display:table-cell;*/
    overflow:auto;
    width:300px;
    height:600px
}

.radarBtns .radar-checkbox {
    width: 140px;
    height: 25px;  
    line-height: 25px;
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    display: list-item;
    display:inline-block;
}
